.container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  background: #000;
  overflow: hidden;
  height: 100vh;
}

.main i {
  position: absolute;
  height: 20%;
  background: linear-gradient(transparent, #fff);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  animation: animate 5s linear infinite;
}

.main i:nth-child(3n + 1) {
  background: linear-gradient(transparent, #0ff);
}

.main i:nth-child(3n + 2) {
  background: linear-gradient(transparent, #0f0);
}

.main i:nth-child(3n + 3) {
  background: linear-gradient(transparent, #f00);
}

@keyframes animate {
  0% {
    transform: translateY(200px);
  }
  100% {
    transform: translateY(calc(100vh - 200px));
  }
}
